.main-nav,
.home-nav.active {
  /* Needs !important to override Bootstrap */
  background-color: #111 !important;
}

.home-nav {
  /* Needs !important to override the above !important */
  background-color: transparent !important;
}

body,
.card {
  color: #eee;
  background-color: #222;
}

.card,
.card-header {
  border-color: #777;
}

.card-header,
.jumbotron {
  background-color: #1a1a1a;
}

.story-container {
  background-color: #1a1a1a;
}

.story .quote {
  color: #ffe400;
}

/* Don't change this please. Pretty please */
@media screen and (max-width: 728px) {
  .story .quote {
    color: inherit;
  }
}

.story-control,
.story-control a {
  color: #666;
}

.story-control a:hover {
  color: #888;
}

.card-header,
.jumbotron {
  background-color: ;
}

iframe.soar-video {
  border-color: #444;
}

a {
  color: #ffe400;
}

a:hover {
  color: #fef36C;
}

.btn-primary {
  color: black;
  /* Should be the same */
  border-color: #ffe400;
  background-color: #ffe400;
}

.btn-primary:hover, .btn-primary.disabled {
  color: #111;
  /* Should be the same */
  /* Lighter/darker version of unhovered colour */
  border-color: #fef36c;
  background-color: #fef36c;
}

.btn-secondary {
  color: black;
  /* Should be the same */
  border-color: #777;
  background-color: #777;
}

.btn-secondary:hover {
  color: #111;
  /* Should be the same */
  /* Lighter/darker version of unhovered colour */
  border-color: #888;
  background-color: #888;
}

.text-info {
  color: !important;
}

.border-info {
  border-color: !important;
}

.tooltip-inner {
  color: black;
  background-color: #ddd;
}

.tooltip.bs-tooltip-bottom .arrow:before {
  border-bottom-color: #ddd !important;
}
