extends ../layout.pug

block preamble
  -var page = 'Be an LD!'
  include ../includes/preamble.pug

block content
  include ../apply-ld.pug

block styles
  include ../includes/dev/styles.pug

block scripts
  include ../includes/dev/scripts.pug
