extends ../layout.pug

block preamble
  - var page = 'Cancellation'
  include ../includes/preamble.pug

block content
  include ../cancellation.pug

block styles
  include ../includes/dev/styles.pug

block scripts
  include ../includes/dev/scripts.pug
