extends ../layout.pug

block preamble
  - var page = 'FAQ'
  include ../includes/preamble.pug

block content
  include ../faq.pug

block styles
  include ../includes/dev/styles.pug

block scripts
  include ../includes/dev/scripts.pug
