extends ../layout.pug

block preamble
  - var page = 'Gallery'
  include ../includes/preamble.pug

block content
  include ../gallery.pug

block styles
  include ../includes/dev/styles.pug

block scripts
  include ../includes/dev/scripts.pug
