mixin head(page)
  head
    include ../includes/preamble.pug
    // Bootstrap CSS
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    link(rel="stylesheet" href="bootstrap-icons.css")
    if (page === "Home" || page === "Gallery")
      // We need Lightbox for the galleries to work, duh!
      link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css")
    if (page != "Home")
      title SOAR | #{page}
    else
      title SOAR
    include ../includes/styles.pug
