mixin importantLinks(active)
  ul
    if active != "FAQ"
      li: a(href="faq.html") Frequently Asked Questions (FAQ)
    if active != "Apply"
      li: a(href="apply.html") Apply to be a SOAR Delegate
      li: a(href="apply.html") Volunteer to be a SOAR Leadership Developer
    if active != "Sponsors" 
      li: a(href="sponsors.html") Sponsor SOAR 2021
