mixin intro({ title, lead, rawSize, classes })
  - var size = rawSize || 4
  .intro(class!= classes)
    h1(class=`text-center display-${size}`)= title
    if (lead)
      p(class="text-center lead")= lead
