@text-color:      #f8e5db;
@main-bg-color:   #1a1536;
@main-bg:         url('../img/background.png') @main-bg-color;
@primary-color:   #ffe400;
@secondary-color: #a183c9;

@border-color:    #777;
@fill-bg-color:   #1d204d;
@accent-bg-color: #1a153e;

@card-header-bg-color: @accent-bg-color;
@card-bg-color:        #140a24;

@nav-bg-color:        #110d1b;
@nav-highlight-color: darken(@primary-color, 35%);
@footer-bg-color:     @nav-bg-color;
@banner-bg-color:     rgba(5, 0, 46, 0.8);
@story-bg-color:      @fill-bg-color;

@btn-text-color:                black;
@btn-active-text-color:         lighten(@btn-text-color, 10%);
@btn-primary-bg-color:          @primary-color;
@btn-primary-active-bg-color:   lighten(@btn-primary-bg-color, 30%);
@btn-secondary-bg-color:        @secondary-color;
@btn-secondary-active-bg-color: lighten(@btn-secondary-bg-color, 10%);

@info-color:         #36dbf5;
@tooltip-text-color: black;
@tooltip-bg-color:   @secondary-color;
