.sponsors {
  .embedded-pdf {
    height: 500px;
    max-height: 80vh;
  }

  .sponsor-grid {
    justify-content: center;
    align-items: center;

    .card {
      background-color: white;
      display: block;
    }
    img {
      width: 200px;
      height: auto;
    }
  }
}
