@import './themes/purple.less';

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto+Condensed&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
}

.banner-container {
  h1 {
    font-weight: 400;
  }
}

/* Not fonts (colours) */
body,
.card {
  color: @text-color;
}

body {
  &::before {
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    background: @main-bg;
    background-size: cover;
    position: fixed;
    z-index: -100;
  }
}

.card {
  background-color: @card-bg-color;
}

.card-header {
  background-color: @card-header-bg-color !important;
}

.card,
.card-header {
  border-color: @border-color;
}

.jumbotron {
  background-color: @fill-bg-color;
}

.main-nav,
.home-nav.active {
  /* Needs !important to override Bootstrap */
  background-color: @nav-bg-color !important;
}

.home-nav {
  /* Needs !important to override the above !important */
  background-color: transparent !important;
}

.nav-link {
  &::before {
    background-color: @nav-highlight-color;
  }

  /* For the active ones, we want it to show */
  &.active::before {
    width: 100%;
    /* . . . but we also want it to be a little different than the highlight */
    background-color: lighten(@nav-highlight-color, 5%);
  }
}

footer {
  background-color: @footer-bg-color;

  .social a {
    color: inherit;
  }
}

.banner-container .banner::after {
  background: @banner-bg-color;
}

.story-container {
  background-color: @story-bg-color;
}

.story .quote {
  color: @primary-color;
}

.story-container, .jumbotron {
  position: relative;
  background-image: url('../img/decorations.svg');
  background-size: cover;
}

/* Don't change this please. Pretty please */
@media screen and (max-width: 728px) {
  .story .quote {
    color: inherit;
  }
}

.story-control,
.story-control a {
  color: @btn-secondary-bg-color;
}

.story-control a:hover {
  color: @btn-secondary-active-bg-color;
}

.card-header,
.jumbotron {
  background-color: @fill-bg-color;
}

iframe.soar-video {
  border-color: #444;
}

hr {
  border-color: @border-color;
}

.team span.portfolio-decoration {
  &::before, &::after {
    border-color: @border-color;
  }
}

a {
  color: @btn-primary-bg-color;
}

a:hover {
  color: @btn-primary-active-bg-color;
}

.btn-primary {
  color: @btn-text-color;
  /* Should be the same */
  border-color: @primary-color;
  background-color: @primary-color;
}

.btn-primary:hover,
.btn-primary.disabled {
  color: @btn-active-text-color;
  /* Should be the same */
  /* Lighter/darker version of unhovered colour */
  border-color: @btn-primary-active-bg-color;
  background-color: @btn-primary-active-bg-color;
}

.btn-secondary {
  color: @btn-text-color;
  /* Should be the same */
  border-color: @btn-secondary-bg-color;
  background-color: @btn-secondary-bg-color;
}

.btn-secondary:hover {
  color: @btn-active-text-color;
  /* Should be the same */
  /* Lighter/darker version of unhovered colour */
  border-color: @btn-secondary-active-bg-color;
  background-color: @btn-secondary-active-bg-color;
}

.text-info {
  color: @info-color !important;
}

.border-info {
  border-color: @info-color !important;
}

.tooltip-inner {
  color: @tooltip-text-color;
  background-color: @tooltip-bg-color;
}

.tooltip.bs-tooltip-bottom .arrow:before {
  border-bottom-color: @tooltip-bg-color !important;
}

.tooltip.bs-tooltip-right .arrow:before {
  border-right-color: @tooltip-bg-color !important;
}
