footer(class="footer text-white")
  .container
    .float-left
      p &#169; 2021 SOAR Conference
    .float-right.social
      p: a(href="https://www.instagram.com/_soarconference/")
        i(class="bi bi-instagram")
