div(class="jumbotron mt-5")
  h1.display-4 Ready to SOAR with us?
  hr.my-4
  p Peel students in <strong>Grade 7</strong> and <strong>Grade 8</strong> can participate as delegates. All grown up? Think you have what it takes to be a leader? Any Peel secondary school student (Grade 10 or higher) can apply to be a Leadership Developer (LD).
  p.lead
    a(class="btn btn-secondary btn-lg" href="faq.html" role="button") More Info
    a(class="btn btn-primary btn-lg" href="apply.html" role="button") Apply for SOAR 2021!
