main(class=`${page.toLowerCase()} container`)
  include mixins/intro.pug
  +intro({
    title: "Delegates",
    lead: "Experience the SOAR Conference up close. Unforgettable. Unregrettable.",
    size: 2
  })

  .row
    .col-12: .card
      .card-body
        h5.card-title Step 1: Fill out our written application.
        p.card-text Applications are open to all <strong>Grade 7 and 8 students in the Peel Region</strong> with a submission deadline of <strong>Monday, April 26th, 2021 @ 11:59 PM</strong>. There are four parts to this application:
          ol
            li: p <strong>General Information About You.</strong> Give us your name, school, student number, etc.
            li: p <strong>Questionnaire.</strong>
            li: p <strong>Mailing Information.</strong> We will be providing some goodies to all attendees at this year's conference! Ensure that this is your <strong>mailing</strong> address, which may or may not be the same as your home address.
            li: p <strong>Declaration Upload.</strong> Sign, scan, and upload a declaration form comprising of an agreement to SOAR's rules regarding appropriate conference behaviour and media consent.
        div(class="tooltip-wrapper" data-toggle="tooltip" data-placement="right" title="No longer available")
          a(href="https://docs.google.com/forms/d/e/1FAIpQLSc44CsSblcJXzKEv2WJtbgVFtvHhwTTpfzpGEm-4wbz0QgNAQ/viewform" target="_blank" class="btn btn-primary") Apply
    .col-12: .card
      .card-body
        h5.card-title Step 2: Wait!
        p.card-text Just wait!
        
div.story-container(class="my-4 py-4")
  h1(class="text-center mb-2") Delegate Stories
  include mixins/stories.pug
  +stories([
    {
      name: "Aayushi Jha",
      role: "Leadership Developer 2019",
      message: "[My delegates were] initially timid but by the end of the conference they were all more confident and vibrant. Through my experience, although I was able to impart my wisdom to my delegates, they had taught me a lot as well. During team activities my delegates were inspiring to watch as they took the time to learn more about each other and their strengths before conducting an activity. [&hellip;] I was grateful to be able to be in a position to make an impact on my delegates but I was also [grateful] to learn more about myself and learn from those around me."
    },
    {
      name: "Nicole Velev",
      role: "Leadership Developer 2019",
      message: "Throughout [SOAR], I witnessed a transformation occur within each of my Delegates. I watched their smiles begin to brim with confidence, and their eyes light up with determination. I had not only been able to facilitate personal growth, but with that facilitate the development of future leaders within the community. Seeing them emerge with the hope, courage, and resilience needed to stand in the face of high school was one of the most rewarding experiences of all. Knowing that I had ignited the spark which would enhance their confidence, drive, and inner leadership skills, was enough to have fulfilled my goal: [to help middle schoolers once like me]."
    }
  ], 10000)

.container
  include mixins/prefooter.pug
  +prefooter(page)
