main(class=`${page.toLowerCase()} container`)
  .row
    .col-lg-8.mx-auto
      .card: .card-body
        h5.card-title Delegates
        p.card-text Want to be a delegate? <strong>Grade 7 and 8 students in the Peel Region</strong> are welcome to join SOAR as Delegates. Applications are currently open with a submission deadline of <strong>Sunday, May 2nd, 2021 @ 11:59 PM</strong>.
        div
          a(href="apply-delegate.html" class="btn btn-primary") Apply to be a Delegate
    .col-sm
      .card: .card-body
        h5.card-title Leadership Developers
        p.card-text LD applications are <strong>now closed for SOAR 2021</strong>. To returning high school students: keep an eye out for next year's SOAR Conference!
        div(class="tooltip-wrapper" data-toggle="tooltip" data-placement="right" title="Now closed")
          a(href="apply-ld.html" class="btn btn-secondary") Apply to be an LD

.container
  include mixins/prefooter.pug
  +prefooter(page)
