main(class=`${page.toLowerCase()} container`)
  .row
    .col-lg-8.mx-auto
      .card: .card-body
        h5.card-title Leadership Developers
        p.card-text LD applications are not yet available, but be on the lookout! Applications will release in early March and will be open to all Grade 10, 11, or 12 students in the Peel Region. Successful applicants will be contacted by email with details for the interview stage.
        div
          a(href="apply-ld.html" class="btn btn-primary") Apply to be an LD
    .col-sm
      div(class="card border-info mb-3"): div(class="card-body")
        p(class="card-text") Want to be a delegate? Delegate applications are not available right now, but keep an eye out! Applications will release in April.

.container
  include mixins/prefooter.pug
  +prefooter(page)
