main(class=`${page.toLowerCase()} container`)
  h1.display-4 SOAR 2021 is cancelled
  h2 A letter from the chairs
  p We regret to inform you that SOAR Conference 2021 has been cancelled. 
  p Our school (Turner Fenton Secondary School) recently had a change in admin, which meant we had to go through the approval process for the platform we were planning on using once again. Although our former principal approved of our use of this platform back in January, there was unfortunately no written statement that can attest to this. 
  p If you’ve been to SOAR before, you’d know that the atmosphere and feeling of being there in person is truly special and unforgettable. The online platform that was the foundation for this year’s conference was the closest we could get to that in a virtual setting. Running the conference on Google Meets or Microsoft Teams simply wouldn’t suffice. Because the platform got refused by the Peel District School Board and the new school admin less than a week before the conference, we had to make the difficult decision to cancel SOAR 2021.
  p To all of our executives and LDs: all of you are so special to us, and each one of you contributed to SOAR in your own way, showing so much of your dedication and care over the past couple of months. SOAR means so much to us, and we’re so grateful we got to share that with you this year. From the bottom of our hearts, thank you for all the hard work you’ve put into this conference.
  p We know you must be disappointed to hear that SOAR won’t be running for the second year in a row — we are too. If you have any questions, please feel free to reach out to us at soar.chairs@gmail.com or @_soarconference on Instagram. Thank you for a great year, and we’re so happy we got to share a bit of SOAR with you :)
  p With love,
  p Lisa, Mayumi, &amp; Zeeniya
  p SOAR 2021 Chairs ♡
