-
  var gFaqs = [
    [
      'When will the conference happen?',
      'This year, SOAR will be taking place on <strong>Saturday, May 29th, 2021</strong>. Times and schedules will be provided closer to the date of the conference for accepted Delegates and volunteers.',
      true
    ],
    [
      'Where will the conference be taking place?',
      'Due to COVID-19 restrictions, SOAR will be held virtually. We will reveal the specific digital platform to accepted attendees closer to the date of the conference.'
    ],
    [
      'How does a virtual conference work?',
      'The communication and interactions between attendees will all occur virtually. There will be designated areas created where Delegates will have the opportunity to connect with their Leadership Developers and also communicate with sponsors and executive members. We will provide all the necessary information regarding what platforms to use closer to the conference date.'
    ],
    [
      "My question isn't listed. Who do I go to if I still have concerns?",
      'If you have any other questions or concerns, please email us at <a href="mailto:soar.chairs@gmail.com">soar.chairs@gmail.com</a>. We will be happy to assist you and our chairs will get back to you as soon as possible!'
    ]
  ]
  var dFaqs = [
    [
      'Who can participate?',
      '<strong>Grade 7 and 8 students in the Peel Region</strong> are welcome to apply as Delegates.',
      true
    ],
    [
      'When do I apply?',
      '<a href="apply-delegate.html">Delegate applications</a> are currently open with a submission deadline of <strong>Tuesday, May 4th, 2021 @ 11:59 PM</strong>!',
      true
    ],
    [
      'Is there an interview process?',
      'There is no interview process to become a Delegate—just one short written application!'
    ],
    [
      `Huh? What's a "Delegate"?`,
      'Though a scary word, a <strong>Delegate</strong> is just a SOAR participant in Grade 7 or 8! We use this term to differentiate from other attendees, such as Leadership Developers, other volunteers, and supervisors.'
    ]
  ]
  var pFaqs = [
    [
      "Who do I contact if I'm interested in sponsoring?",
      'Please email <a href="mailto:soar.chairs@gmail.com">soar.chairs@gmail.com</a> if you are interested in contributing to the success of this conference!'
    ],
    [
      'What can I gain from a sponsorship?',
      'At SOAR, sponsorship is a partnership. The PDF on the <a href="sponsors.html">Sponsors</a> page offers a starting point for compensation. However, we are glad to work with you to meet your needs.'
    ],
    [
      'Can I support SOAR 2021 by any other means, rather than financially?',
      'Yes! You can be an in-kind sponsor or simply donate your goods and services. Your goods can even be branded with your company logo as a way to promote your business to hundreds of students!'
    ]
  ]
  var vFaqs = [
    [
      'What volunteer opportunities are available?',
      "This year we only have Leadership Developer (LD) positions available. In the past, we have also had Security and CCOM positions available, but these roles are not needed for this year's virtual SOAR."
    ],
    [
      'What is an LD?',
      'A fair question! LD stands for <b>L</b>eadership <b>D</b>eveloper. During the SOAR Conference, LDs lead Delegate groups through various workshops and activities.'
    ],
    [
      'Who can be an LD?',
      'Grade 10, 11, and 12 students across the Peel Region can apply to be a Leadership Developer. If you are in Grade 9, do not worry as there will be opportunities for you in the future.'
    ],
    [
      "What if I've never attended SOAR before?",
      "That's alright! This will not affect your chances in getting accepted as a Leadership Developer."
    ],
    [
      'Whoa! When do I apply?',
      `<a href="apply-ld.html">LD applications</a> are <strong>now closed for SOAR 2021</strong>. Successful applicants have already been contacted. Thank you to everyone who applied—and to returning high school students: keep an eye out for next year's SOAR Conference!`
    ],
    [
      'Is there an interview process?',
      'Yes, applicants that are successful in the written application stage will be contacted to move onto the interview stage.'
    ]
  ]

include mixins/accordion.pug
main(class=`${page.toLowerCase()} container`)
  include includes/cancellation-notice.pug

  include mixins/intro.pug
  +intro({
    title: "Frequently Asked Questions",
    size: 2
  })

  .row
    .col-sm
      h2 General
      +accordion("general", gFaqs)
    .col-sm
      h2 Delegates
      +accordion("delegates", dFaqs)
  .row
    .col-sm
      h2 Partnership
      +accordion("partnership", pFaqs)
    .col-sm
      h2 Volunteers
      +accordion("volunteers", vFaqs)
  include mixins/prefooter.pug
  +prefooter(page)
