main(class=`${page.toLowerCase()} container`)
  include mixins/intro.pug
  +intro({
    title: "Our Sponsors",
    size: 2
  })

.container(class="sponsors")
  div(class="jumbotron pt-5 pb-3")
    h2.display-6 Interested in partnership?
    p Check out the document below to find out how you can benefit from a SOAR partnership!
    p.lead
      a(class="btn btn-primary" href="pdf/soar-2021-sponsorship.pdf" download) Sponsorship 2021 [PDF]
      object(class="embedded-pdf mt-2" data="pdf/soar-2021-sponsorship.pdf" type="application/pdf" width="100%" height="100%")
  
  -
    var sponsors = [
      {
        name: 'City of Brampton',
        site: 'https://brampton.ca',
        img: 'brampton.png'
      },
      {
        name: 'Brampton Transit',
        site: 'https://www.brampton.ca/en/residents/transit/Pages/Home.aspx',
        img: 'brampton-transit.png'
      },
      {
        name: 'University of Waterloo',
        site: 'https://uwaterloo.ca',
        img: 'uwaterloo.png'
      },
      {
        name: 'Seneca College',
        site: 'https://www.senecacollege.ca/home.html',
        img: 'seneca.png'
      },
      {
        name: 'Sparkling Ice',
        site: 'https://www.sparklingice.ca',
        img: 'sparkling-ice.png'
      },
      {
        name: 'Krispy Kreme',
        site: 'https://krispykreme.ca',
        img: 'krispy-kreme.png'
      },
      {
        name: 'Crestcom',
        site: 'https://crestcom.com/ca/',
        img: 'crestcom.png'
      }
    ]
  
.container-fluid(class="sponsors")
  h1(class="text-center") Our Past Sponsors
  p.lead(class="text-center") Here are some of the sponsors who made SOAR possible in past years!
  .row(class="sponsor-grid text-center")
    each sponsor in sponsors
      .col(class="col-sm-6 col-md-4 col-lg-3")
        div
          a(href!=sponsor.site): img(src=`./img/sponsors/${sponsor.img}`)

.container
  include mixins/prefooter.pug
  +prefooter(page)
