<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="bootstrap-icons.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/theming.css">

  <title>SOAR | Sponsors</title>
</head>
<body>
  <nav class="main-nav navbar sticky-top navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand ml-4" href=".">SOAR</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNav" aria-controls="#mainNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
      <div class="navbar-nav ml-auto mt-2 mt-lg-0">
        <a class="nav-item nav-link ml-4" href="team.html">Team</a>
        <a class="nav-item nav-link ml-4" href="gallery.html">Gallery</a>
        <a class="nav-item nav-link ml-4 active" href="#">Sponsors<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link ml-4" href="faq.html">FAQ</a>
        <a class="nav-item nav-link ml-4" href="contact.html">Contact</a>
        <a class="btn btn-outline-light nav-item ml-4 mr-4" href="apply.html">Apply</a>
      </div>
    </div>
  </nav>

  <main class="container">
    <h1>Sponsor Us!</h1>
  </main>

  <div class="container">
    <div class="row prefooter">
      <div class="col-md">
        <h3>Questions? Contact Us</h3>
        <ul>
          <li><a href="mailto:soar.chairs@gmail.com">soar.chairs@gmail.com</a></li>
          <li><a href="contact.html">Additional Contact Info</a></li>
        </ul>
      </div>
      <div class="col-md">
        <h3>Important Links</h3>
        <ul>
          <li><a href="faq.html">Frequently Asked Questions (FAQ)</a></li>
          <li><a href="apply.html">Apply to be a SOAR Delegate</a></li>
          <li><a href="apply.html">Volunteer to be a SOAR Leadership Developer</a></li>
        </ul>
      </div>
    </div>
  </div>
     <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="js/main.js"></script>
</body>
</html>
