mixin importantLinks(active)
  ul
    li: a(href="faq.html") Frequently Asked Questions (FAQ)
    li: a(href="apply.html") Apply to be a SOAR Delegate
    li: a(href="apply.html") Volunteer to be a SOAR Leadership Developer
    li: a(href="sponsors.html") Sponsor SOAR 2021
