//- eeee there must be a way to refactor this
mixin navItem(name, active)
  if name === active
    case name
      when "Apply"
        a(class="btn btn-outline-light nav-item ml-4 mr-4 active" href="#") Apply
      default
        a(class="nav-item nav-link ml-4 active" href="#") #{name}
          span(class="sr-only") (current)
  else
    case name
      when "Apply"
        a(class="btn btn-outline-light nav-item ml-4 mr-4" href="apply.html") Apply
      default
        a(class="nav-item nav-link ml-4" href=`${name.toLowerCase()}.html`) #{name}

mixin nav(active)
  nav(class="main-nav navbar sticky-top navbar-expand-md bg-dark navbar-dark")
    a(class="navbar-brand ml-4" href=".") SOAR
    button(class="navbar-toggler" data-toggle="collapse" data-target="#mainNav" aria-controls="#mainNav" aria-expanded="false" aria-label="Toggle navigation")
      span(class="navbar-toggler-icon")
    div(class="collapse navbar-collapse" id="mainNav")
      div(class="navbar-nav ml-auto mt-2 mt-lg-0")
        each page in ["Team", "Gallery", "Sponsors", "FAQ", "Contact", "Apply"]
          +navItem(page, active)
        
